# Neo4j AuraDB connection details
# Get these from your Neo4j AuraDB instance console (https://console.neo4j.io)
db_Url=neo4j+s://xxxxxxxx.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=your_password_here
